<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
   <ion-grid>
    <ion-row>
      <ion-col col-4>
      
<div id="myDIV" class="headertodo">
  <h2 style="color: white">My To Do List</h2>
 <input type="text"  #tasktitle  placeholder="Title..." />
 <!--<ion-input id="myInput" type="text" class="titleinput" #tasktitle placeholder="enter todo task" ></ion-input>-->
  <span (click)="save(tasktitle.value)" class="addBtn">Add</span>
</div>

<ul id="myUL" >
  <li *ngFor="let todo of todolist">
  <!--<template  ngFor #todo [ngForOf]="todolist">
    <li>-->
    <div style="width:10%; "> <input type="checkbox" [checked]="todo.checked"/></div>
    <div style="text-align: left">{{todo.title}}</div>   
  </li> 
  <!--</template>-->
</ul>

<!--<ul id="myUL" >
   <ion-list>
   <li *ngFor="let todo of todolist"><ion-item>{{todo.title}}</ion-item></li> 
  </ion-list>
</ul>-->
 </ion-col>

    </ion-row>
    <!--<ion-row>
      <ion-col col-2>
        <ion-input #tasktitle placeholder="enter todo task" ></ion-input>
      </ion-col>

       <ion-col col-1>
         <button ion-button (click)="save(tasktitle.value)" value="Save">
               <ion-icon name="Save">Save</ion-icon>
         </button>
      </ion-col>

    </ion-row>   -->
  </ion-grid>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>